<h1>Is there a bus nearby?</h1>

<p> Give us your address or approximate address (<em>I'm at the corner of ...</em>), and we will tell you if a bus is nearby.</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
